{
  "branches": "master",
  "repositoryUrl": "https://github.com/michael616kriel/kult-core",
  "debug": "false",
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "tarballDir": "build"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          "build/**"
        ]
      }
    ]
  ]
}
