name: CI
on:
  push:
    branches:
      - master
      - 'releases/**'
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '18'
      - name: Build
        run: npm -g install yarn & yarn & yarn build
      - name: Setup semantic-release
        run: npm -g install yarn @semantic-release/github @semantic-release/npm @semantic-release/commit-analyzer
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
 